# Copiez ce fichier en secrets.toml et renseignez votre clé API Stream Estate
# Sur Streamlit Cloud : ajoutez la variable dans Settings > Secrets

STREAM_ESTATE_API_KEY = "c8932ad33af8f57201534fa79cffb635"
